@import url("./style-classes.css");
@import url("./menu.css");
@import url("./main-content.css");

body {
  margin: 0;
}




/**
 * Desktop (Generic)
 */
.main {
	display: grid;
	grid-template-columns: 4fr 1fr;
	min-height: 100vh;
}




/**
 * Tablet - Landscape
 */
@media screen and (max-width: 1199px) {

}




/**
 * Tablet - Portrait
 */
 @media screen and (max-width: 991px) {
	
	.main {
		grid-template-columns: 100%;
		padding-top: 3.5em;
	}
}




/**
 * Mobile - Landscape
 */
 @media screen and (max-width: 767px) {

}




/**
 * Mobile - Portrait
 */
 @media screen and (max-width: 425px) {

}