body {
  margin: 0;
}

/* Color Styles
*/
.bg-green {
  background: #aaff77;
}

.bg-blue {
  background: #77aaff;
}

.bg-red {
  background: #ff77aa;
}


/* Text Stlyes
*/
span.title {
  font-size: 32px;
}