body {
  margin: 0;
}

/* Color Styles
*/
.bg-gray {
  background: #444;
}

.bg-blue {
  background: #7af;
}

.bg-red {
  background: #c22;
}


/* Text Stlyes
*/
span.title {
  font-size: 32px;
}

span.subtitle {
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  span.title {
    font-size: 24px;
  }

  span.subtitle {
    font-size: 20px;
  }
}